.pointer-cursor() {
  cursor: pointer;
  cursor: hand;
}

.highlighting {
  .cxn-circ-container {
    display: block;
  }
}

// GENERIC CIRCLE
.circle-container {
  .transition-all;

  &.hover{
    z-index: 1000;

    .cmpy-label {
      display: block;
    }
  }

  &.ui-draggable-dragging {
    z-index: 1000;

    .transition-none;

    .cmpy-label {
      display: none;
    }
  }

  &.highlighted .cmpy-circ {
    background-color: #fff;
  }
}

.circle {
  .transition-all;
}

// COMPANY CIRCLE
.cmpy-circ-container {
  .pointer-cursor;
  position: absolute;

  &.school .cmpy-circ {
    background-color: #f00;
  }

  &.highlighted {
    z-index: 999;

    .cmpy-circ {
      background-color: #fff;
    }

    .cmpy-label {
      display: block;
    }
  }
}

.cmpy-circ {
  background-color: #1b587e;
  position: relative;
  .box-shadow(2px, 2px, 1px, 2px, #000);
}

.cmpy-label {
  display: none;
  font-size: 12px;
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

// CONNECTION CIRCLE
.cxn-circ-container {
}

.cxn-circ {
  overflow: hidden;
}

.cxn-label {
  display: none;
}

.backBtn {
  position: absolute;
  top: @highlightRadius - 10px;
  left: 21px;
}
