body {
  text-align: center;
}

#output {
  position: absolute;
  top: 0;
  right: 0;
}

#paper {
  border: 1px solid #000;
  width: @paperWidth*1px;
  height: @paperHeight*1px;
  .center;
}

#viewport {
  margin: @viewportPadding @viewportPadding 0 @viewportPadding;
  height: @viewportHeight;
  position: relative;
}
