body {
  text-align: center;
}

#output {
  position: absolute;
  top: 0;
  right: 0;
}

#paper {
  width: @paperWidth*1px;
  height: @paperHeight*1px;
  .center;
}

#viewport {
  margin: @viewportPadding;
  height: @viewportHeight;
  position: relative;
  text-align: center;
}

#connections {
  max-height: @viewportHeight - @highlightRadius;
  position: absolute;
  left: 0;
  top: @highlightRadius*2;
}

.cxn-circ-container {
  display: none;
}
